{% extends 'base/base.html' %}
{% load static %}

{% block nav-cliente %}
      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Cliente</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'cargar_cliente' %}">
              <i class="bi bi-circle"></i><span>Agregar Cliente</span>
            </a>
          </li>
          <li>
            <a href="{% url 'listar_clientes' %}">
              <i class="bi bi-circle"></i><span>Lista Clientes</span>
            </a>
          </li>
          <li>  
            <a href="{% url 'listar_vto_clte' %}">
              <i class="bi bi-circle"></i><span>Vencimientos Cliente</span>
            </a>
          </li>
        </ul>
      </li><!-- End Cliente Nav -->
{% endblock nav-cliente %}


{% block contenedor %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Formulario</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">Cliente</li>
          <li class="breadcrumb-item">Servis Cliente</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
          <div class="col-lg-6">
  
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Servis Cliente</h5>
  
                <!-- General Form Elements -->
                <form method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <p>
                        <label for="id_observacion_visita">Observacion:</label>
                        <textarea name="observacion_visita" cols="40" rows="10" class="form-control" id="observacion_visita"></textarea>
                      </p>
                    <div class="col-sm-10">
                      <button type="submit" class="btn btn-primary">Cargar</button>
                    </div>
                  </div>

                </form><!-- End Form  -->
  
              </div>
            </div>
  
          </div>
  
          
        </div>
    </section>
</main><!-- End #main -->

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const bidonesDisponiblesInput = document.getElementById('id_bidones_disponibles');
        const entregaBidonesInput = document.getElementById('id_entrega_bidones');
        const retornoBidonesInput = document.getElementById('id_retorno_bidones');
        const bidonesAcumuladosInput = document.getElementById('id_bidones_acumulados');

        let previousEntregaBidones = parseInt(entregaBidonesInput.value) || 0;
        let previousRetornoBidones = parseInt(retornoBidonesInput.value) || 0;

        function updateBidones() {
            const bidonesDisponibles = parseInt(bidonesDisponiblesInput.value) || 0;
            const entregaBidones = parseInt(entregaBidonesInput.value) || 0;
            const retornoBidones = parseInt(retornoBidonesInput.value) || 0;
            const bidonesAcumulados = parseInt(bidonesAcumuladosInput.value) || 0;

            // Calcula la diferencia en entrega_bidones
            const entregaDifference = entregaBidones - previousEntregaBidones;
            // Calcula la diferencia en retorno_bidones
            const retornoDifference = retornoBidones - previousRetornoBidones;

            // Actualiza bidones_disponibles
            bidonesDisponiblesInput.value = (bidonesDisponibles - entregaDifference);

            // Actualiza bidones_acumulados
            bidonesAcumuladosInput.value = (bidonesAcumulados + entregaDifference - retornoDifference);

            // Actualiza los valores anteriores
            previousEntregaBidones = entregaBidones;
            previousRetornoBidones = retornoBidones;
        }

        // Agrega eventos para actualizar cuando entrega_bidones o retorno_bidones cambian
        entregaBidonesInput.addEventListener('input', updateBidones);
        retornoBidonesInput.addEventListener('input', updateBidones);

        // Asegúrate de que los campos se actualicen al cargar la página
        updateBidones();
    });
</script>
{% endblock contenedor %}