{% extends 'base/base.html' %}
{% load static %}



{% block contenedor %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>{{usuario_login}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href={% url 'dashboard_estadisticas' %}>Home</a></li>
          <li class="breadcrumb-item active">{{usuario_login}}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Ventas Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Sales <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>145</h6>
                      <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Ventas Card -->

            <!-- Ganancia Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                {% comment %} <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div> {% endcomment %}

                <div class="card-body">
                  <h5 class="card-title">Ganancia <span>| Este Mes</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6><span id="pagosTotal"></span></h6>
                      <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Ganancia Card -->

            <!-- Clientes  Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                {% comment %} <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div> {% endcomment %}

                <div class="card-body">
                  <h5 class="card-title">Clientes <span>| Este Año</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6><span id="countCltesActual">{{ cant_clientes }}</span></h6>
                      <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Clientes  Card -->


            {% comment %} <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#">#2457</a></th>
                        <td>Brandon Jacob</td>
                        <td><a href="#" class="text-primary">At praesentium minu</a></td>
                        <td>$64</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2147</a></th>
                        <td>Bridie Kessler</td>
                        <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                        <td>$47</td>
                        <td><span class="badge bg-warning">Pending</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2049</a></th>
                        <td>Ashleigh Langosh</td>
                        <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                        <td>$147</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td>Angus Grady</td>
                        <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                        <td>$67</td>
                        <td><span class="badge bg-danger">Rejected</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td>Raheem Lehner</td>
                        <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                        <td>$165</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales --> {% endcomment %}

            <!-- Pagos Recientes  -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                {% comment %} <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div> {% endcomment %}

                <div class="card-body pb-0">
                  <h5 class="card-title">Pagos Recientes<span>| Top 10</span></h5>

                  <table class="table table-borderless" id="tablaPagos">
                    <thead>
                      <tr>
                        <th scope="col">Usuario(borrar)</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Fecha</th>                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for pago in pagos_list %}
                      <tr>
                          <td>{{ pago.usuario }}</td>
                          <td>{{ pago.cliente }}</td>
                          <td class="fw-bold">${{ pago.monto }}</td>
                          <td>{{ pago.fecha }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Pagos Recientes -->

            
            <!-- Metrica Pagos de la Semana -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                  <h5 class="card-title">Metrica Pagos de la Semana</h5>
                  <div id="pagosSemanasChart" style="min-height: 400px;" class="echart"></div>
                </div>
              </div>
            </div>
            <!-- End Metrica Pagos de la Semana -->

            <!-- Metrica Ventas de la Semana -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                  <h5 class="card-title">Metrica Ventas de la Semana</h5>
                  <div id="ventasChart" style="min-height: 400px;" class="echart"></div>
                </div>
              </div>
            </div>
            <!-- End Metrica Ventas de la Semana -->
             
            <!-- Metrica Mensual -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                  <h5 class="card-title">Metrica Pagos Mensual</h5> 
                  <div id="ultimosPagosChart" style="min-height: 400px;" class="echart"></div>
                  {% comment %} <canvas id="barChart" style="max-height: 400px;"></canvas>
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new Chart(document.querySelector('#barChart'), {
                        type: 'bar',
                        data: {
                          labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                          datasets: [{
                            label: 'Bar Chart',
                            data: [65, 59, 80, 81, 56, 55, 40],
                            backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(255, 159, 64, 0.2)',
                              'rgba(255, 205, 86, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(153, 102, 255, 0.2)',
                              'rgba(201, 203, 207, 0.2)'
                            ],
                            borderColor: [
                              'rgb(255, 99, 132)',
                              'rgb(255, 159, 64)',
                              'rgb(255, 205, 86)',
                              'rgb(75, 192, 192)',
                              'rgb(54, 162, 235)',
                              'rgb(153, 102, 255)',
                              'rgb(201, 203, 207)'
                            ],
                            borderWidth: 1
                          }]
                        },
                        options: {
                          scales: {
                            y: {
                              beginAtZero: true
                            }
                          }
                        }
                      });
                    });
                  </script> {% endcomment %}
                </div>
              </div>
            </div>
            <!-- End Metrica Mensual -->


          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Productos Vendidos -->
          <div class="card">
            {% comment %} <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div> {% endcomment %}

            <div class="card-body">
              <h5 class="card-title">Productos Vendidos<span>| Total</span></h5>
              <table class="table table-borderless" id="productosTop">
                    <thead>
                      <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>                      
                      </tr>
                    </thead>
                    <tbody>
                      {% for producto in productos_top %}
                      <tr>
                          <td>{{ producto.nombre }}</td>
                          <td>{{ producto.cantidad }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>

            
            </div>
          </div><!-- End Productos Vendidos -->

          

        </div><!-- End Right side columns -->

      </div>
    </section>
    <script>
        // 1. Valor inicial desde Django
        const valorInicial = Number({{ pagos_total_mes|floatformat:2 }});

        // 2. Formateador con estilo 
        const formateador = new Intl.NumberFormat('es-AR', {
            style: 'currency',
            currency: 'ARS',
            minimumFractionDigits: 2
        });

        // 3. Mostrar el valor inicial
        document.getElementById('pagosTotal').textContent = formateador.format(valorInicial);

        let ventasChart, ultimosPagosChart, pagosSemanasChart;

        document.addEventListener("DOMContentLoaded", () => {
            // --- VENTAS POR DIA EN LA SEMANA ---
            const ventasLabels = {{ ventas_labels|safe }};
            const ventasData = {{ ventas_totales|safe }};
            ventasChart = echarts.init(document.querySelector("#ventasChart"));
            ventasChart.setOption({
                xAxis: { type: 'category', data: ventasLabels },
                yAxis: { type: 'value', name: 'Total Ventas ($)' },
                series: [{ data: ventasData, type: 'bar', itemStyle: { color: 'rgba(75, 192, 192, 0.6)' } }],
                tooltip: { trigger: 'axis' },
                title: { text: 'Ventas de la Semana', left: 'center' }
            });

            // --- PAGOS TOTALES ULTIMOS 6 MESES ---
            const pagoMesesLabels = {{ pago_ultimos_6_meses_labels|safe }};
            const pagoMesesData = {{ pago_ultimos_6_meses_totales|safe }};
            ultimosPagosChart = echarts.init(document.querySelector("#ultimosPagosChart"));
            ultimosPagosChart.setOption({
                xAxis: { type: 'category', data: pagoMesesLabels },
                yAxis: { type: 'value', name: 'Total Pagos ($)' },
                series: [{ data: pagoMesesData, type: 'bar', itemStyle: { color: 'rgba(75, 192, 192, 0.6)' } }],
                tooltip: { trigger: 'axis' },
                title: { text: 'Pagos por Mes', left: 'center' }
            });

            // --- PAGOS POR DIA EN LA SEMANA ---
            const pagoSemanasLabels = {{ pagos_semana_labels|safe }};
            const pagoSemanasData = {{ pagos_semana_totales|safe }};
            pagosSemanasChart = echarts.init(document.querySelector("#pagosSemanasChart"));
            pagosSemanasChart.setOption({
                xAxis: { type: 'category', data: pagoSemanasLabels },
                yAxis: { type: 'value', name: 'Total Pagos ($)' },
                series: [{ data: pagoSemanasData, type: 'bar', itemStyle: { color: 'rgba(75, 192, 192, 0.6)' } }],
                tooltip: { trigger: 'axis' },
                title: { text: 'Pagos de la Semana', left: 'center' }
            });
        });


        // Conexión WebSocket
        const socket = new WebSocket("ws://" + window.location.host + "/ws/dashboard/");

        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log("Actualización recibida del servidor:", data);

            // carga cantidad de clientes actuales
            fetch('/analytics/api/count_clientes/')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('countCltesActual').textContent = data.count_clientes;
                })
                .catch(error => console.error("Error al obtener Cantidad de clientes:", error));
            
            // Cargar Top ventas de productos
            fetch('/analytics/api/productos/')
                .then(res => res.json())
                .then(data => {
                    const tabla = document.querySelector("#productosTop tbody");
                    tabla.innerHTML = '';  // limpiar

                    data.productos.forEach(p => {
                        const row = document.createElement('tr');
                        row.innerHTML = `<td>${p.nombre}</td><td>${p.cantidad}</td>`;
                        tabla.appendChild(row);
                    });
                })
                .catch(error => console.error("Error al obtener Top Productos:", error));
            
            // Cargar pagos recientes dinámicamente
            fetch('/analytics/api/pagos_recientes/')
                .then(res => res.json())
                .then(data => {
                    const tabla = document.querySelector("#tablaPagos tbody");
                    tabla.innerHTML = '';  // limpiar

                    data.pagos.forEach(p => {
                        const row = document.createElement('tr');
                        row.innerHTML = `<td>${p.cliente}</td><td>$${p.monto}</td><td>${p.fecha}</td>`;
                        tabla.appendChild(row);
                    });
                })
                .catch(error => console.error("Error al obtener Pagos Recientes:", error));

            // Actualiza gráfico de ventas
            fetch('/analytics/api/ventas/')
                .then(response => response.json())
                .then(update => {
                    ventasChart.data.labels = update.labels;
                    ventasChart.data.datasets[0].data = update.totales;
                    ventasChart.update();
                })
                .catch(error => console.error("Error al obtener Ventas:", error));
            // Actualiza gráfico de pagos semana
            fetch('/analytics/api/pagos_semana/')
                .then(response => response.json())
                .then(update => {
                    pagosSemanasChart.data.labels = update.labels;
                    pagosSemanasChart.data.datasets[0].data = update.totales;
                    pagosSemanasChart.update();
                })
                .catch(error => console.error("Error al obtener Pagos de la Semana:", error));
            // Actualiza gráfico de pagos Meses
            fetch('/analytics/api/ultimos_meses/')
                .then(response => response.json())
                .then(update => {
                    ultimosPagosChart.data.labels = update.labels;
                    ultimosPagosChart.data.datasets[0].data = update.totales;
                    ultimosPagosChart.update();
                })
                .catch(error => console.error("Error al obtener Pagos Meses:", error));

            // Actualiza total de pagos
            fetch('/analytics/api/pagos/')
                .then(response => response.json())
                .then(data => {
                  const total = Number(data.total);
                  document.getElementById('pagosTotal').textContent = formateador.format(total);
                })
                .catch(error => console.error("Error al obtener Total Pagos:", error));
        };
    </script>
</main><!-- End #main -->


{% endblock contenedor %}