{% extends 'base/base.html' %}
{% load static %}

{% block nav-cliente %}
      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Cliente</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          {% if usuario_rol == 'usuario' %}
          <li>
            <a href="{% url 'cargar_cliente' %}">
              <i class="bi bi-circle"></i><span>Agregar Cliente</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'listar_clientes' %}">
              <i class="bi bi-circle"></i><span>Lista Clientes</span>
            </a>
          </li>
          <li>
            <a href="{% url 'listar_vto_clte' %}">
              <i class="bi bi-circle"></i><span>Vencimientos Cliente</span>
            </a>
          </li>
        </ul>
      </li><!-- End Cliente Nav -->
{% endblock nav-cliente %}


{% block contenedor %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Lista Visitas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">Cliente</li>
          <li class="breadcrumb-item">Visita</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lista</h5>
                        {% for visita in visitas_combinadas %}
                            <div class="card mb-3">

                                <div class="card-body">
                                    <h5 class="card-title">{{ visita.fecha_visita|date:"Y-m-d H:i" }}</h5>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row">
                                                {% if visita.b_disponible %}
                                                <h5 class="card-title">Visita Servis</h5>
                                                <div class="modal-body">                                                            
                                                    <p> DISPONIBLE: {{visita.b_disponible }}</p>
                                                    <p> ENTREGADO: {{visita.b_entregado }}</p>
                                                    <p> RETIRADO: {{visita.b_retirado }}</p>
                                                    <p> TIENE EL CLIENTE: {{visita.b_en_poder_clte }}</p>
                                                    <p> NOTA: {{visita.nota }}</p>
                                                </div>
                                                <!-- Botón para generar ticket -->
                                                <div class="mt-3 text-end">
                                                    <a href="{% url 'ticket_visita_token' visita.token %}" target="_blank" class="btn btn-sm btn-outline-primary">
                                                        🧾 Generar Ticket Servis token
                                                    </a>
                                                </div>
                                                {% else  %}
                                                <h5 class="card-title">Visita</h5>
                                                <div class="modal-body">                                                                    
                                                    <p> NOTA: {{visita.nota }}</p>
                                                </div>
                                                
                                                <!-- Botón para generar ticket -->
                                                <div class="mt-3 text-end">
                                                    <a href="{% url 'ticket_visita' visita.token %}" target="_blank" class="btn btn-sm btn-outline-primary">
                                                        🧾 Generar visita Ticket
                                                    </a>
                                                </div>
                                                {% endif %} 

                                            </div>
                                        </li>
                                    </ul>

                                    
                                </div>
                            </div>
                        {% endfor %}


                        {% comment %} {% for visita in lista_vista_cliente %}
                            <div class="card">
                                <div class="card-body">

                                    <h5 class="card-title">
                                        {{ visita.fecha_visita }}
                                    </h5>
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Nota:</div>
                                                <div class="col-lg-9 col-md-8">
                                                    {% if visita.nota %}
                                                        {{ visita.nota|safe }}
                                                    {% else %}
                                                        Sin Nota
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>

                                        
                                    </ul><!-- End Default List group -->

                                </div>
                            </div>
                        {% endfor %} {% endcomment %}

                        <!-- Centered Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
                                    </li>
                                {% endif %}

                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ page_obj.number }}</span>
                                </li>

                                {% if page_obj.has_next %}
                                    <li class="page-item" aria-current="page">
                                        <a class="page-link">{{ page_obj.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav><!-- End Centered Pagination -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock contenedor %}
