{% extends 'base/base.html' %}
{% load static %}



{% block contenedor %}

<main id="main" class="main">

        <div class="pagetitle">
          <h1>Clientes</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item">Clientes</li>
              <li class="breadcrumb-item active">Lista Clientes</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Lista</h5>
                
                    <!-- Table with stripped rows -->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            {% comment %} <th scope="col">#</th> {% endcomment %}
                            <th scope="col">Apellido</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Dirección</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cliente in lista_clientes %}
                            <tr>
                                {% comment %} <th scope="row">1</th> {% endcomment %}
                                <td>
                                    <a href={% url 'menu_cliente'  id=cliente.id %}>
                                        {{ cliente.apellido }}</td>
                                    </a>
                                <td>{{ cliente.nombre }}</td>
                                <td>{{ cliente.direccion }}</td>
                            </tr>
                        
                        {% empty %}
                            <h4>No hay registros</h4>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->
                    <!-- Centered Pagination -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
                            </li>
                            {% endif %}
                            {% comment %} {% if page_obj.has_previous %}
                            <li class="page-item" aria-current="page">
                                <span class="page-link">{{ page_obj.previous_page_number }}</span>
                            </li>
                            {% endif %} {% endcomment %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ page_obj.number }}</span>
                            </li>
                            {% if page_obj.has_next %}
                            <li class="page-item" aria-current="page">
                                <a class="page-link">{{ page_obj.paginator.num_pages }}</a>
                            </li>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <a class="page-link"  href="?page={{ page_obj.next_page_number }}">Siguiente &raquo;</a>
                            {% endif %}
                        </li>
                        </ul>
                    </nav><!-- End Centered Pagination -->
                
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock contenedor %}