{% extends 'base/base.html' %}
{% load static %}

{% block nav-visitas %}
<li class="nav-item">
  <a class="nav-link collapsed" data-bs-target="#visita-nav" data-bs-toggle="collapse" href="#">
    <i class="bi bi-pin-angle"></i><span>Visita</span><i class="bi bi-chevron-down ms-auto"></i>
  </a>
  <ul id="visita-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
    <li>
      <a href="{% url 'cargar_visita' %}">
        <i class="bi bi-circle"></i><span>Carga Visita</span>
      </a>
    </li>
    <li>
      <a href="{% url 'listar_visitas' %}"  class="active">
        <i class="bi bi-circle"></i><span>Ver Visitas</span>
      </a>
    </li>
    
  </ul>
</li><!-- End Visita Nav -->
{% endblock nav-visitas %}


{% block contenedor %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Lista Visitas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item">Visita</li>
          <li class="breadcrumb-item">Ver Visitas</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lista</h5>

                        {% for visita in lista_vistas %}
                            <div class="card">
                                <div class="card-body">

                                    <h5 class="card-title">
                                        {{ visita.fecha_visita }} -
                                            {% if visita.cliente is None %}
                                                Cliente no registrado.
                                            {% else %}
                                                {{ visita.cliente }}
                                            {% endif %}
                                    </h5>
                                    <ul class="list-group">
                                        {% if visita.b_disponible %}
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">DISPONIBLE:</div>
                                                <div class="col-lg-9 col-md-8">{{ visita.b_disponible }}</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">ENTREGADO:</div>
                                                <div class="col-lg-9 col-md-8">{{ visita.b_entregado }}</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">RETIRADO:</div>
                                                <div class="col-lg-9 col-md-8">{{ visita.b_retirado }}</div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">TIENE EL CLIENTE:</div>
                                                <div class="col-lg-9 col-md-8">{{ visita.b_en_poder_clte }}</div>
                                            </div>
                                        </li>
                                        {% endif %}
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-4 label ">Nota:</div>
                                                <div class="col-lg-9 col-md-8">
                                                    {% if visita.nota %}
                                                        {{ visita.nota }}
                                                    {% else %}
                                                        Sin Nota
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </li>

                                        
                                    </ul><!-- End Default List group -->
                                    <!-- Botón para generar ticket -->
                                    {% if visita.cliente%}
                                    <div class="mt-3 text-end">
                                        {% if visita.b_disponible %}
                                        <a href="{% url 'ticket_visita_token' visita.token %}" target="_blank" class="btn btn-sm btn-outline-primary">
                                            🧾 Generar Ticket Token
                                        </a>
                                        {% else %}
                                        <a href="{% url 'ticket_visita' visita.token %}" target="_blank" class="btn btn-sm btn-outline-primary">
                                            🧾 Generar Ticket
                                        </a>
                                        {% endif %}
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}

                        <!-- Centered Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
                                    </li>
                                {% endif %}

                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ page_obj.number }}</span>
                                </li>

                                {% if page_obj.has_next %}
                                    <li class="page-item" aria-current="page">
                                        <a class="page-link">{{ page_obj.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav><!-- End Centered Pagination -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock contenedor %}
