{% extends 'base/base.html' %}
{% load static %}


{% block nav-cliente %}
      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Cliente</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          {% if usuario_rol == 'usuario' %}
          <li>
            <a href="{% url 'cargar_cliente' %}">
              <i class="bi bi-circle"></i><span>Agregar Cliente</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'listar_clientes' %}" class="active">
              <i class="bi bi-circle"></i><span>Lista Clientes</span>
            </a>
          </li>
          <li>  
            <a href="{% url 'listar_vto_clte' %}">
              <i class="bi bi-circle"></i><span>Vencimientos Cliente</span>
            </a>
          </li>
        </ul>
      </li><!-- End Cliente Nav -->
{% endblock nav-cliente %}

{% block contenedor %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Clientes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">Clientes</li>
                <li class="breadcrumb-item active">Lista Clientes</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                
                {% for cliente in lista_clientes %}

                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'menu_cliente' id=cliente.id %}">
                            {{ cliente.apellido }} - {{ cliente.nombre }}
                            </a>
                        </h5>
                        <span class="card-text">
                            {{ cliente.direccion }} -
                            +54-{{cliente.codigo_area}} {{cliente.telefono}}
                        </span>
                        <a href="https://wa.me/{{ 54|urlencode }}{{ cliente.codigo_area|urlencode }}{{ cliente.telefono|urlencode }}?text={{ mensaje|urlencode }}"
                        target="_blank"
                        style="text-decoration: none; color: green; font-weight: bold;">
                        <i class="bi bi-whatsapp"></i>
                        </a>
                    </div>
                </div>
                {% empty %}
                 <div class="card text-center">
                    <div class="card-body">
                        <div class="card-title">
                            <h5 class="card-title">No hay registros</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}


                <!-- Centered Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
                                    </li>
                                {% endif %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ page_obj.number }}</span>
                                </li>
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav><!-- End Centered Pagination -->
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock contenedor %}
