{% extends 'base/base.html' %}
{% load static %}

{% block nav-cliente %}
      <li class="nav-item">
        <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Cliente</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
          {% if usuario_rol == 'usuario' %}
          <li>
            <a href="{% url 'cargar_cliente' %}">
              <i class="bi bi-circle"></i><span>Agregar Cliente</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'listar_clientes' %}">
              <i class="bi bi-circle"></i><span>Lista Clientes</span>
            </a>
          </li>
          <li>  
            <a href="{% url 'listar_vto_clte' %}"  class="active">
              <i class="bi bi-circle"></i><span>Vencimientos Cliente</span>
            </a>
          </li>
        </ul>
      </li><!-- End Cliente Nav -->
{% endblock nav-cliente %}

{% block contenedor %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Clientes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">Clientes</li>
                <li class="breadcrumb-item active">Vencimiento Clientes</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vencimiento Clientes</h5>

                        {% for promo in listar_promos %}
                            <div class="card">
                                <div class="card-body">

                                    <h5 class="card-title">
                                        <a href="{% url 'menu_cliente' id=promo.cliente.id %}">{{ promo.cliente }}</a>
                                    </h5>

                                    <!-- Default List group -->
                                    <ul class="list-group">
                                        {% if promo in promos_con_fecha_vencida %}
                                            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                                                ¡Atención! La fecha de cobro para este cliente ha vencido.
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        {% elif promo in promos_que_vencen_hoy %}
                                            <div class="alert alert-warning bg-warning border-0 alert-dismissible fade show" role="alert">
                                                ¡Atención! La fecha de cobro para este cliente VENCE HOY.
                                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        {% endif %}

                                        <a href="{% url 'menu_cliente' id=promo.cliente.id %}">
                                            <li class="list-group-item">{{ promo.promo.nombre_promo }}</li>
                                            <li class="list-group-item">{{ promo.cliente.direccion }}</li>
                                            <li class="list-group-item">{{ promo.fecha_pago_promo }}</li>
                                        </a>
                                    </ul><!-- End Default List group -->

                                </div>
                            </div>
                        {% endfor %}

                        <!-- Centered Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
                                    </li>
                                {% endif %}

                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">{{ page_obj.number }}</span>
                                </li>

                                {% if page_obj.has_next %}
                                    <li class="page-item" aria-current="page">
                                        <a class="page-link">{{ page_obj.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav><!-- End Centered Pagination -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock contenedor %}
